@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerMedium.woff2') format('woff2'),
      url('../fonts/MullerMedium.woff') format('woff');
    font-display: swap;
    font-weight: 500;
    font-style: normal;
  }
  
@font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerRegular.woff2') format('woff2'),
      url('../fonts/MullerRegular.woff') format('woff');
    font-display: swap;
    font-weight: normal;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerBold.woff2') format('woff2'),
      url('../fonts/MullerBold.woff') format('woff');
    font-display: swap;
    font-weight: 600;
    font-style: normal;
  }
  
  @font-face {
    font-family: 'Muller';
    src: url('../fonts/MullerLight.woff2') format('woff2'),
      url('../fonts/MullerLight.woff') format('woff');
    font-display: swap;
    font-weight: 300;
    font-style: normal;
  }
  
  html {
    padding: 30px;
    font-family: "Muller", sans-serif;
    background-color: #E5E5E5;
  }
  
  * {
    box-sizing: border-box;
  }

  :root {
    --orange: #CC9933;
    --grey: #666;
  }
  
  a {
    text-decoration: none;
  }

  ul {
      padding: 0;
      margin: 0;
      list-style-type: none;
  }

  .container {
      max-width: 1170px;
      margin: 0 auto;
  }

  .description {
    line-height: 2;
  }

  .btn {
      padding: 13px 20px;
      color: var(--orange);
      border: 1px solid var(--orange);
      border-radius: 10px;
      background: transparent;
      transition: cubic-bezier(0.6, 0.04, 0.98, 0.335);
  }

  .btn:hover {
      cursor: pointer;
      color: white;
      background-color: var(--orange);
  }

  .header_links {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 30px;
  }

  .left_links {
      display: flex;
      align-items: center;
  }

  .logo {
      margin-right: 34px;
  }

  .login_link {
      padding-left: 35px;
      color: var(--orange);
      background-image: url('/img/login.png');
      background-repeat: no-repeat;
      background-size: contain;
  }

  .phone_link {
      color: var(--grey);
      font-size: 20px;
      font-weight: 500;
  }

  .nav_container {
    margin-bottom: 70px;
  }

  .nav {
      display: flex;
      justify-content: space-between;
      padding: 14px 0;
      background-color: white;
      border-radius: 15px;
  }

  .nav_list {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 63%;
      padding-right: 10px;
  }

  .nav_link {
      color: var(--grey);
  }

  .button_container {
    padding-right: 45px;
    padding-left: 57px;
    border-left: 1px solid #e1e1e1;
  }

  .btn_get-tour {
      margin-right: 30px;
  }

  .offers-container {
    display: flex;
    min-height: 540px;
  }

  .offers-left {
    width: 50%;
    margin-right: 23px;
  }

  .offer-large {
    width: 50%;
    padding: 40px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('/img/offer-large.png');
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }

  .offer-small-1 {
    margin-bottom: 23px;
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('/img/offer-1.png');
  }

  .offer-small-2 {
    background: linear-gradient(90deg, rgba(48, 64, 89, 0.84) -2.9%, rgba(53, 65, 83, 0) 65.7%),
    url('/img/offer-2.png');
  }

  .offer-article {
    padding: 40px;
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 15px;
  }
  
  .offer-article-title {
    margin-top: 0;
    margin-bottom: 15px;
    font-size: 40px;
    font-weight: 700;
    color: #fff;
  }

  .section-title {
    margin-left: 50px;
    font-size: 40px;
    font-weight: 400;
  }

  .offer-title-big {
    font-size: 60px;
    color: #fff;
  }

  .offer-description-container {
    padding-right: 190px;
  }

.offer-article, .offer-large {
  display: flex;
  align-items: flex-end;
}

.offer-description {
  margin-bottom: 47px;
  font-size: 20px;
  color: #fff;
}

.offer-link, .services-item-link {
  padding-right: 15px;
  color: var(--orange);
  background-image: url(/img/link.svg);
  background-repeat: no-repeat;
  background-position: right center;
}

.offer-title-big {
  margin-top: 0;
  margin-bottom: 15px;
}

.offers {
  margin-bottom: 70px;
}

.description-large {
  font-size: 30px;
}

.about-us-description {
  padding-right: 282px;
}

.about-us {
  margin-bottom: 70px;
}

.services-list {
  display: flex;
  flex-wrap: wrap;
}

.services-list-item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  min-height: 330px;
  width: 48%;
  padding: 45px;
  background-size: contain;
  background-repeat: no-repeat;
  border-radius: 15px 15px 0 0;
}

.services-list-item:nth-child(1n) {
  margin-right: 23px;
}

.services-item-first {
  background-image: url('/img/services-1.png');
}

.services-item-second {
  background-image: url('/img/services-2.png');
}

.services-item-third {
  background-image: url('/img/services-3.png');
}

.services-item-fourth {
  background-image: url('/img/services-4.png');
}

.services-item-description {
  margin: 0;
  padding-right: 70px;
}



